{% extends 'base_form.html.twig' %}

{% block title %}FakePay Sandbox{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#adapter-list li').click(function(e) {
                e.preventDefault();
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                $('#local, #remote').html('');

                $('#local').load('/sandbox/' + $(this).data('name') + '/form');

				$('#where-the-magic-happens').on('setHost', function(e, type) {
					var el = $('#' + type);
					$(this).find('.sandbox-zone').removeClass('active');
					el.parent().addClass('active');

					$('html, body').animate({
						scrollTop: $('#adapter-list').offset().top - 60
					}, 500);
				});
            });
        });

		var set_active_host = function(host) {
			$('#where-the-magic-happens').trigger('setHost', host);
		}
    </script>
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">FakePay</a>
            </div>
        </div>
    </div>
    <div id="container" class="container">
        <header class="hero-unit">
            <h1>FakePay Sandbox</h1>
            <p>
                See just how easy it is to integrate popular payment provider/s into your application. Well, fake
                versions of them anyway...but your application won't know any different.
            </p>
        </header>

        <ul class="nav nav-pills" id="adapter-list">
            {% for id in ids %}
                <li id="adapter-pill-{{ id }}" {{ loop.first ? 'class="active"' : '' }} data-name="{{ id }}">
                    <a href="#">{{ id }}</a>
                </li>
            {% endfor %}
        </ul>

        <div id="where-the-magic-happens" class="row">
            <section class="span6 sandbox-zone">
                <header>local</header>
                <div class="zone-border"></div>
                <div class="zone-content" id="local"></div>
            </section>

            <section class="span6 sandbox-zone">
                <header>remote</header>
                <div class="zone-border"></div>
                <div class="zone-content" id="remote"></div>
            </section>
        </div>
    </div>
{% endblock %}